In [5]:
students=['ravi','priyanka','kumar','afsha','anushka','nadeem','priyanka']
print(students)

['ravi', 'priyanka', 'kumar', 'afsha', 'anushka', 'nadeem', 'priyanka']

In [6]:
type(students)

list

In [7]:
print(students[0])

ravi

In [8]:
print(students[0].title())

Ravi

In [9]:
print(students[4].title())

Anushka

In [10]:
students.append('ankit')
print(students)

['ravi', 'priyanka', 'kumar', 'afsha', 'anushka', 'nadeem', 'priyanka', 'ankit']

In [11]:
students.append('radhika')
print(students)

['ravi', 'priyanka', 'kumar', 'afsha', 'anushka', 'nadeem', 'priyanka', 'ankit', 'radhika']

In [12]:
students.insert(2,'tazeen')
print(students)

['ravi', 'priyanka', 'tazeen', 'kumar', 'afsha', 'anushka', 'nadeem', 'priyanka', 'ankit', 'radhika']

In [13]:
print(students[2])

tazeen

In [14]:
students[1]='deepika'
print(students)

['ravi', 'deepika', 'tazeen', 'kumar', 'afsha', 'anushka', 'nadeem', 'priyanka', 'ankit', 'radhika']

In [15]:
del students[0]
print(students)

['deepika', 'tazeen', 'kumar', 'afsha', 'anushka', 'nadeem', 'priyanka', 'ankit', 'radhika']

In [22]:
students=['deepika', 'tazeen', 'kumar', 'afsha', 'anushka', 'nadeem', 'priyanka', 'ankit', 'radhika']
print(students)

['deepika', 'tazeen', 'kumar', 'afsha', 'anushka', 'nadeem', 'priyanka', 'ankit', 'radhika']

In [23]:
x=students.pop()
print(students)

['deepika', 'tazeen', 'kumar', 'afsha', 'anushka', 'nadeem', 'priyanka', 'ankit']

In [24]:
print(x)

radhika

In [25]:
y=students.pop(2)
print(students)

['deepika', 'tazeen', 'afsha', 'anushka', 'nadeem', 'priyanka', 'ankit']

In [26]:
print(y)

kumar

In [29]:
cars=['toyota','maruthi','audi','kia','bens','tata','bmw']
print(cars)

['toyota', 'maruthi', 'audi', 'kia', 'bens', 'tata', 'bmw']

In [28]:
type(cars)

list

In [30]:
print(sorted(cars))

['audi', 'bens', 'bmw', 'kia', 'maruthi', 'tata', 'toyota']

In [31]:
print(cars)

['toyota', 'maruthi', 'audi', 'kia', 'bens', 'tata', 'bmw']

In [32]:
cars.sort()
print(cars)

['audi', 'bens', 'bmw', 'kia', 'maruthi', 'tata', 'toyota']

In [33]:
print(cars)

['audi', 'bens', 'bmw', 'kia', 'maruthi', 'tata', 'toyota']

In [34]:
cars.reverse()
print(cars)

['toyota', 'tata', 'maruthi', 'kia', 'bmw', 'bens', 'audi']

In [35]:
len(cars)

7

In [36]:
mystudents=['anushka','afsha','kiran','ravi','sam','abdullah']
print(mystudents)

['anushka', 'afsha', 'kiran', 'ravi', 'sam', 'abdullah']

In [37]:
print(mystudents[0:1])

['anushka']

In [38]:
print(mystudents[0:2])

['anushka', 'afsha']

In [39]:
print(mystudents[2:4])

['kiran', 'ravi']

In [40]:
print(mystudents[4:6])

['sam', 'abdullah']

In [41]:
print(mystudents[0:6:2])

['anushka', 'kiran', 'sam']